//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 11 16:58:58 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "A8" LEVEL 1;
COMP "s" LOCATE = SITE "A9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

