//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 13 17:34:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "s" LOCATE = SITE "D5" LEVEL 1;
COMP "clk" LOCATE = SITE "A8" LEVEL 1;
COMP "btn" LOCATE = SITE "J13" LEVEL 1;
COMP "echo" LOCATE = SITE "R13" LEVEL 1;
COMP "an<0>" LOCATE = SITE "G14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "G13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "N15" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K15" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L15" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "M15" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N16" LEVEL 1;
COMP "trigger" LOCATE = SITE "T14" LEVEL 1;
COMP "hex<0>" LOCATE = SITE "F13" LEVEL 1;
COMP "hex<1>" LOCATE = SITE "E13" LEVEL 1;
COMP "hex<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "hex<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "hex<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "hex<5>" LOCATE = SITE "E14" LEVEL 1;
COMP "hex<6>" LOCATE = SITE "G16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP tnm_clk = BEL "music_pitch_array_value_0" BEL
        "music_pitch_array_value_1" BEL "music_pitch_array_value_2" BEL
        "music_pitch_array_value_3" BEL "music_pitch_array_value_4" BEL
        "music_pitch_array_value_5" BEL "main_loop.music_index_0" BEL
        "main_loop.music_index_1" BEL "main_loop.music_index_2" BEL
        "main_loop.music_index_3" BEL "main_loop.music_index_4" BEL
        "main_loop.music_index_5" BEL "display_bpm_sig/display/digit_1" BEL
        "display_bpm_sig/display/digit_0" BEL
        "display_bpm_sig/display/counter_31" BEL
        "display_bpm_sig/display/counter_30" BEL
        "display_bpm_sig/display/counter_29" BEL
        "display_bpm_sig/display/counter_28" BEL
        "display_bpm_sig/display/counter_27" BEL
        "display_bpm_sig/display/counter_26" BEL
        "display_bpm_sig/display/counter_25" BEL
        "display_bpm_sig/display/counter_24" BEL
        "display_bpm_sig/display/counter_23" BEL
        "display_bpm_sig/display/counter_22" BEL
        "display_bpm_sig/display/counter_21" BEL
        "display_bpm_sig/display/counter_20" BEL
        "display_bpm_sig/display/counter_19" BEL
        "display_bpm_sig/display/counter_18" BEL
        "display_bpm_sig/display/counter_17" BEL
        "display_bpm_sig/display/counter_16" BEL
        "display_bpm_sig/display/counter_15" BEL
        "display_bpm_sig/display/counter_14" BEL
        "display_bpm_sig/display/counter_13" BEL
        "display_bpm_sig/display/counter_12" BEL
        "display_bpm_sig/display/counter_11" BEL
        "display_bpm_sig/display/counter_10" BEL
        "display_bpm_sig/display/counter_9" BEL
        "display_bpm_sig/display/counter_8" BEL
        "display_bpm_sig/display/counter_7" BEL
        "display_bpm_sig/display/counter_6" BEL
        "display_bpm_sig/display/counter_5" BEL
        "display_bpm_sig/display/counter_4" BEL
        "display_bpm_sig/display/counter_3" BEL
        "display_bpm_sig/display/counter_2" BEL
        "display_bpm_sig/display/counter_1" BEL
        "display_bpm_sig/display/counter_0" BEL "bpm/beat_counter_0" BEL
        "bpm/y_FSM_FFd1" BEL "bpm/y_FSM_FFd2" BEL "bpm/beat_counter_28" BEL
        "bpm/beat_counter_27" BEL "bpm/beat_counter_29" BEL
        "bpm/beat_counter_25" BEL "bpm/beat_counter_24" BEL
        "bpm/beat_counter_26" BEL "bpm/beat_counter_22" BEL
        "bpm/beat_counter_21" BEL "bpm/beat_counter_23" BEL
        "bpm/beat_counter_19" BEL "bpm/beat_counter_18" BEL
        "bpm/beat_counter_20" BEL "bpm/beat_counter_16" BEL
        "bpm/beat_counter_15" BEL "bpm/beat_counter_17" BEL
        "bpm/beat_counter_13" BEL "bpm/beat_counter_12" BEL
        "bpm/beat_counter_14" BEL "bpm/beat_counter_11" BEL
        "bpm/beat_counter_10" BEL "bpm/beat_counter_9" BEL
        "bpm/beat_counter_8" BEL "bpm/beat_counter_6" BEL "bpm/beat_counter_5"
        BEL "bpm/beat_counter_7" BEL "bpm/beat_counter_3" BEL
        "bpm/beat_counter_2" BEL "bpm/beat_counter_4" BEL "bpm/beat_counter_1"
        BEL "bpm/distance_29" BEL "bpm/distance_28" BEL "bpm/distance_27" BEL
        "bpm/distance_26" BEL "bpm/distance_25" BEL "bpm/distance_24" BEL
        "bpm/distance_23" BEL "bpm/distance_22" BEL "bpm/distance_21" BEL
        "bpm/distance_20" BEL "bpm/distance_19" BEL "bpm/distance_18" BEL
        "bpm/distance_17" BEL "bpm/distance_16" BEL "bpm/distance_15" BEL
        "bpm/distance_14" BEL "bpm/distance_13" BEL "bpm/distance_12" BEL
        "bpm/distance_11" BEL "bpm/distance_10" BEL "bpm/distance_9" BEL
        "bpm/distance_8" BEL "bpm/distance_7" BEL "bpm/distance_6" BEL
        "bpm/distance_5" BEL "bpm/distance_4" BEL "bpm/distance_3" BEL
        "bpm/distance_2" BEL "bpm/distance_1" BEL "bpm/distance_0" BEL
        "bpm/beat_array0_3_29" BEL "bpm/beat_array0_3_28" BEL
        "bpm/beat_array0_3_27" BEL "bpm/beat_array0_3_26" BEL
        "bpm/beat_array0_3_25" BEL "bpm/beat_array0_3_24" BEL
        "bpm/beat_array0_3_23" BEL "bpm/beat_array0_3_22" BEL
        "bpm/beat_array0_3_21" BEL "bpm/beat_array0_3_20" BEL
        "bpm/beat_array0_3_19" BEL "bpm/beat_array0_3_18" BEL
        "bpm/beat_array0_3_17" BEL "bpm/beat_array0_3_16" BEL
        "bpm/beat_array0_3_15" BEL "bpm/beat_array0_3_14" BEL
        "bpm/beat_array0_3_13" BEL "bpm/beat_array0_3_12" BEL
        "bpm/beat_array0_3_11" BEL "bpm/beat_array0_3_10" BEL
        "bpm/beat_array0_3_9" BEL "bpm/beat_array0_3_8" BEL
        "bpm/beat_array0_3_7" BEL "bpm/beat_array0_3_6" BEL
        "bpm/beat_array0_3_5" BEL "bpm/beat_array0_3_4" BEL
        "bpm/beat_array0_3_3" BEL "bpm/beat_array0_3_2" BEL
        "bpm/beat_array0_3_1" BEL "bpm/beat_array0_3_0" BEL "bpm/count_29" BEL
        "bpm/count_28" BEL "bpm/count_27" BEL "bpm/count_26" BEL
        "bpm/count_25" BEL "bpm/count_24" BEL "bpm/count_23" BEL
        "bpm/count_22" BEL "bpm/count_21" BEL "bpm/count_20" BEL
        "bpm/count_19" BEL "bpm/count_18" BEL "bpm/count_17" BEL
        "bpm/count_16" BEL "bpm/count_15" BEL "bpm/count_14" BEL
        "bpm/count_13" BEL "bpm/count_12" BEL "bpm/count_11" BEL
        "bpm/count_10" BEL "bpm/count_9" BEL "bpm/count_8" BEL "bpm/count_7"
        BEL "bpm/count_6" BEL "bpm/count_5" BEL "bpm/count_4" BEL
        "bpm/count_3" BEL "bpm/count_2" BEL "bpm/count_1" BEL "bpm/count_0"
        BEL "bpm/beat_store" BEL "bpm/beat_array0_2_29" BEL
        "bpm/beat_array0_2_28" BEL "bpm/beat_array0_2_27" BEL
        "bpm/beat_array0_2_26" BEL "bpm/beat_array0_2_25" BEL
        "bpm/beat_array0_2_24" BEL "bpm/beat_array0_2_23" BEL
        "bpm/beat_array0_2_22" BEL "bpm/beat_array0_2_21" BEL
        "bpm/beat_array0_2_20" BEL "bpm/beat_array0_2_19" BEL
        "bpm/beat_array0_2_18" BEL "bpm/beat_array0_2_17" BEL
        "bpm/beat_array0_2_16" BEL "bpm/beat_array0_2_15" BEL
        "bpm/beat_array0_2_14" BEL "bpm/beat_array0_2_13" BEL
        "bpm/beat_array0_2_12" BEL "bpm/beat_array0_2_11" BEL
        "bpm/beat_array0_2_10" BEL "bpm/beat_array0_2_9" BEL
        "bpm/beat_array0_2_8" BEL "bpm/beat_array0_2_7" BEL
        "bpm/beat_array0_2_6" BEL "bpm/beat_array0_2_5" BEL
        "bpm/beat_array0_2_4" BEL "bpm/beat_array0_2_3" BEL
        "bpm/beat_array0_2_2" BEL "bpm/beat_array0_2_1" BEL
        "bpm/beat_array0_2_0" BEL "bpm/beat_array0_1_29" BEL
        "bpm/beat_array0_1_28" BEL "bpm/beat_array0_1_27" BEL
        "bpm/beat_array0_1_26" BEL "bpm/beat_array0_1_25" BEL
        "bpm/beat_array0_1_24" BEL "bpm/beat_array0_1_23" BEL
        "bpm/beat_array0_1_22" BEL "bpm/beat_array0_1_21" BEL
        "bpm/beat_array0_1_20" BEL "bpm/beat_array0_1_19" BEL
        "bpm/beat_array0_1_18" BEL "bpm/beat_array0_1_17" BEL
        "bpm/beat_array0_1_16" BEL "bpm/beat_array0_1_15" BEL
        "bpm/beat_array0_1_14" BEL "bpm/beat_array0_1_13" BEL
        "bpm/beat_array0_1_12" BEL "bpm/beat_array0_1_11" BEL
        "bpm/beat_array0_1_10" BEL "bpm/beat_array0_1_9" BEL
        "bpm/beat_array0_1_8" BEL "bpm/beat_array0_1_7" BEL
        "bpm/beat_array0_1_6" BEL "bpm/beat_array0_1_5" BEL
        "bpm/beat_array0_1_4" BEL "bpm/beat_array0_1_3" BEL
        "bpm/beat_array0_1_2" BEL "bpm/beat_array0_1_1" BEL
        "bpm/beat_array0_1_0" BEL "bpm/beat_array0_0_29" BEL
        "bpm/beat_array0_0_28" BEL "bpm/beat_array0_0_27" BEL
        "bpm/beat_array0_0_26" BEL "bpm/beat_array0_0_25" BEL
        "bpm/beat_array0_0_24" BEL "bpm/beat_array0_0_23" BEL
        "bpm/beat_array0_0_22" BEL "bpm/beat_array0_0_21" BEL
        "bpm/beat_array0_0_20" BEL "bpm/beat_array0_0_19" BEL
        "bpm/beat_array0_0_18" BEL "bpm/beat_array0_0_17" BEL
        "bpm/beat_array0_0_16" BEL "bpm/beat_array0_0_15" BEL
        "bpm/beat_array0_0_14" BEL "bpm/beat_array0_0_13" BEL
        "bpm/beat_array0_0_12" BEL "bpm/beat_array0_0_11" BEL
        "bpm/beat_array0_0_10" BEL "bpm/beat_array0_0_9" BEL
        "bpm/beat_array0_0_8" BEL "bpm/beat_array0_0_7" BEL
        "bpm/beat_array0_0_6" BEL "bpm/beat_array0_0_5" BEL
        "bpm/beat_array0_0_4" BEL "bpm/beat_array0_0_3" BEL
        "bpm/beat_array0_0_2" BEL "bpm/beat_array0_0_1" BEL
        "bpm/beat_array0_0_0" BEL "bpm/trigger" BEL "bpm/beat_seen" BEL
        "bpm/display_bpm/bpm_dummy_7" BEL "bpm/display_bpm/bpm_dummy_6" BEL
        "bpm/display_bpm/bpm_dummy_5" BEL "bpm/display_bpm/bpm_dummy_4" BEL
        "bpm/display_bpm/bpm_dummy_3" BEL "bpm/display_bpm/bpm_dummy_2" BEL
        "bpm/display_bpm/bpm_dummy_1" BEL
        "x_note_length_counter/note_length_partial_28" BEL
        "x_note_length_counter/note_length_partial_27" BEL
        "x_note_length_counter/note_length_partial_26" BEL
        "x_note_length_counter/note_length_partial_25" BEL
        "x_note_length_counter/note_length_partial_24" BEL
        "x_note_length_counter/note_length_partial_23" BEL
        "x_note_length_counter/note_length_partial_22" BEL
        "x_note_length_counter/note_length_partial_21" BEL
        "x_note_length_counter/note_length_partial_20" BEL
        "x_note_length_counter/note_length_partial_19" BEL
        "x_note_length_counter/note_length_partial_18" BEL
        "x_note_length_counter/note_length_partial_17" BEL
        "x_note_length_counter/note_length_partial_16" BEL
        "x_note_length_counter/note_length_partial_15" BEL
        "x_note_length_counter/note_length_partial_14" BEL
        "x_note_length_counter/note_length_partial_13" BEL
        "x_note_length_counter/note_length_partial_12" BEL
        "x_note_length_counter/note_length_partial_11" BEL
        "x_note_length_counter/note_length_partial_10" BEL
        "x_note_length_counter/note_length_partial_9" BEL
        "x_note_length_counter/note_length_partial_8" BEL
        "x_note_length_counter/note_length_partial_7" BEL
        "x_note_length_counter/note_length_partial_6" BEL
        "x_note_length_counter/note_length_partial_5" BEL
        "x_note_length_counter/note_length_partial_4" BEL
        "x_note_length_counter/note_length_partial_3" BEL
        "x_note_length_counter/note_length_partial_2" BEL
        "x_note_length_counter/note_length_partial_1" BEL
        "x_note_length_counter/note_length_partial_0" BEL
        "x_note_length_counter/is_new_note" BEL
        "x_note_length_counter/is_mute" BEL "x_note_player/state_FSM_FFd1" BEL
        "x_note_player/state_FSM_FFd2" BEL "x_note_player/state_FSM_FFd3" BEL
        "x_note_player/note_pulse" BEL "x_note_player/pwm_pulse" BEL
        "x_note_player/duty_cc_8" BEL "x_note_player/duty_cc_7" BEL
        "x_note_player/duty_cc_6" BEL "x_note_player/duty_cc_5" BEL
        "x_note_player/duty_cc_4" BEL "x_note_player/duty_cc_3" BEL
        "x_note_player/duty_cc_2" BEL "x_note_player/duty_cc_1" BEL
        "x_note_player/duty_cc_0" BEL "x_note_player/index_7" BEL
        "x_note_player/index_6" BEL "x_note_player/index_5" BEL
        "x_note_player/index_4" BEL "x_note_player/index_3" BEL
        "x_note_player/index_2" BEL "x_note_player/index_1" BEL
        "x_note_player/index_0" BEL "x_note_player/sample_rate_partial_8" BEL
        "x_note_player/sample_rate_partial_7" BEL
        "x_note_player/sample_rate_partial_6" BEL
        "x_note_player/sample_rate_partial_5" BEL
        "x_note_player/sample_rate_partial_4" BEL
        "x_note_player/sample_rate_partial_3" BEL
        "x_note_player/sample_rate_partial_2" BEL
        "x_note_player/sample_rate_partial_1" BEL
        "x_note_player/sample_rate_partial_0" BEL
        "x_note_player/overflow_index_10" BEL "x_note_player/overflow_index_9"
        BEL "x_note_player/overflow_index_8" BEL
        "x_note_player/overflow_index_7" BEL "x_note_player/overflow_index_6"
        BEL "x_note_player/overflow_index_5" BEL
        "x_note_player/overflow_index_4" BEL "x_note_player/overflow_index_3"
        BEL "x_note_player/overflow_index_2" BEL
        "x_note_player/overflow_index_1" BEL "x_note_player/overflow_index_0"
        BEL "x_note_player/base_index_10" BEL "x_note_player/base_index_9" BEL
        "x_note_player/base_index_8" BEL "x_note_player/base_index_7" BEL
        "x_note_player/base_index_6" BEL "x_note_player/base_index_5" BEL
        "x_note_player/base_index_4" BEL "x_note_player/base_index_3" BEL
        "x_note_player/base_index_2" BEL "x_note_player/base_index_1" BEL
        "x_note_player/base_index_0" BEL "x_note_player/index_mult_3" BEL
        "x_note_player/index_mult_2" BEL "x_note_player/index_mult_1" BEL
        "x_note_player/index_mult_0" BEL
        "x_note_player/Mram_next_sin_table_array_index[10]_X_14_o_wide_mux_51_OUT.A"
        BEL "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
ts_clk = PERIOD TIMEGRP "tnm_clk" 25 MHz HIGH 50%;
SCHEMATIC END;

