//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 13 22:20:48 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "A8" LEVEL 1;
COMP "s" LOCATE = SITE "D5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

