//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 20 22:43:34 2017
//! **************************************************************************

SCHEMATIC START;
COMP "data_valid" LOCATE = SITE "R16" LEVEL 1;
COMP "PDB<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "PDB<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "PDB<2>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "PDB<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "PDB<4>" LOCATE = SITE "N10" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "PDB<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L12" LEVEL 1;
COMP "PDB<6>" LOCATE = SITE "M10" LEVEL 1;
COMP "EppWRITE" LOCATE = SITE "N7" LEVEL 1;
COMP "PDB<7>" LOCATE = SITE "R10" LEVEL 1;
COMP "EppWAIT" LOCATE = SITE "N5" LEVEL 1;
COMP "EppASTB" LOCATE = SITE "N8" LEVEL 1;
COMP "EppDSTB" LOCATE = SITE "P7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

