//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 13 19:19:24 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "G14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "G13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "clk" LOCATE = SITE "A8" LEVEL 1;
COMP "hex<0>" LOCATE = SITE "F13" LEVEL 1;
COMP "hex<1>" LOCATE = SITE "E13" LEVEL 1;
COMP "hex<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "hex<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "hex<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "hex<5>" LOCATE = SITE "E14" LEVEL 1;
COMP "hex<6>" LOCATE = SITE "G16" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "N15" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K15" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L15" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "M15" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

