
NET "trigger" LOC = "T14";
NET "echo" LOC = "R13";

NET "CLK" LOC = "A8";

NET "HEX<0>"  LOC = "F13" ;
NET "HEX<1>"  LOC = "E13" ;
NET "HEX<2>"  LOC = "G15" ;
NET "HEX<3>"  LOC = "H13" ;
NET "HEX<4>"  LOC = "J14" ;
NET "HEX<5>"  LOC = "E14" ;
NET "HEX<6>"  LOC = "G16" ;

NET "AN<0>" LOC = "G14";
NET "AN<1>" LOC = "G12";
NET "AN<2>" LOC = "G13";
NET "AN<3>" LOC = "F12";

NET "LED" LOC = "L14";