{% extends "master_template.html" %}

{% block mainpage %}
<div id="pageintro" class="hoc clear">
    <article> 
      <!-- ################################################################################################ -->
      <h3 class="heading">The All G Music Player</h3>
      <p>Click below to make music for your All G device!</p>
      <p class="font-x1 uppercase bold">Making Music All G</p>
      <footer>
        <ul class="nospace inline pushright">

          <form action="/uploader" method="get">
          <button style="color:red; height:70px; width:140px" type="submit">Go make music!</button>
          </form>
        
        </ul>
      </footer>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
{% endblock %}