{% extends "master_template.html" %}
{% block uploader %}
<div id="musicuploader">
	<form action="http://localhost:5000/uploader" method="POST" class="add-entry">
		<dl>
			{{ form.csrf_token }}
			<dt>Title:
			{{ form.name }}
	        <dt>Text:
	        {{ form.music }}
	        <dd><input type="submit" value="Submit">
      	</dl>
    </form>
</div>
<!-- CODE NOT YET WORKING
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

<script type="text/jsx">
	/*** @jsx React.DOM */
	var realPython = React.createClass({
		render: function() {
  			return (<h2>Greetings, from Real Python!</h2>);
		}
	});

	ReactDOM.render(
		React.createElement(realPython, null),
		document.getElementById('content')
	);
</script>
-->
{% endblock %}