{% extends "master_template.html" %}

{% block mainpage %}
<div id="pageintro" class="hoc clear">
    <article> 
      <!-- ################################################################################################ -->
      <h3 class="heading">Mollis feugiat hendrerit</h3>
      <p>Molestie neque vehicula cursus eros curabitur tincidunt massa egestas maximus ipsum non tristique nisi proin</p>
      <p class="font-x1 uppercase bold">Consectetur iaculis vitae dolor</p>
      <footer>
        <ul class="nospace inline pushright">
          
          <!--this are two buttons-->
          <!-- <li><a class="btn" href="play_music.html">play music</a></li>
          <li><a class="btn inverse" href="#">download music</a></li>  -->



          <form action="/uploader" method="get">
          <button style="color:red; height:70px; width:140px" type="submit">play music</button>
          </form>
        

        </ul>
      </footer>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
{% endblock %}