//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 01 13:43:05 2017
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "L14" LEVEL 1;
COMP "btn" LOCATE = SITE "J13" LEVEL 1;
SCHEMATIC END;

